AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: false
IndentWidth: 4
SortIncludes: true
AccessModifierOffset: -4
ColumnLimit: 120
NamespaceIndentation: All